body{
    background-color:rgb(255, 255, 255);
}
.nav{
    width: 35px;
    display: block;
    box-shadow:2px 1px black;
    padding:1px 1px;
    /* background-color: rgb(155, 151, 146); */
}
.bar1{
    height:2px;
    background-color: rgb(0, 0, 0);
    margin:7px 5px 3px 5px;
}
.bar2{
    height:2px;
    background-color: rgb(0, 0, 0);
    margin:2px 5px 3px 5px;
}.bar3{
    height:2px;
    background-color: rgb(0, 0, 0);
    margin:2px 5px 5px 5px;
}
#search{
    height:30px;
    width:300px;
    border-radius: 20px;
    margin:10px 0px 10px 30px;
    padding-left: 30px;
}

header{
    margin: auto;
    background-color:white;
    background-origin: padding-box;
    box-shadow:2px 2px 2px 2px rgba(97, 97, 97, 0.438);
    margin: 5px 2px;
    padding: 10px 5px;
}
#login{
    margin: 10px 2px 10px 340px;
    text-decoration: none;
}
#signup{
    margin: 10px 2px 10px 20px;
    text-decoration: none;
}
.nav{
    border:1px solid black;
}
#search-button{
    border-radius:5px;
    background-color: rgba(255, 255, 255, 0.712);
    height:25px;
    width:70px;
}
li{
    list-style: none;
}
.namelist1{
    padding:5px 10px;
    background-color:rgb(0, 255, 55);
    margin:30px 20px 10px 20px;
    border:2px solid rgb(0, 0, 0) ;
    box-shadow:2px 2px rgba(97, 97, 97, 0.438);
}
.namelist2{
    padding:5px 10px;
    background-color:rgb(40, 214, 245);
    margin:10px 20px;
    border:2px solid rgb(0, 0, 0) ;
    box-shadow:2px 2px rgba(97, 97, 97, 0.438);
}
.namelist3{
    padding:5px 10px;
    background-color:rgb(246, 65, 65);
    margin:10px 20px;
    border:2px solid rgb(0, 0, 0) ;
    box-shadow:2px 2px rgba(97, 97, 97, 0.438);
}.namelist4{
    padding:5px 10px;
    background-color:rgb(253, 249, 11);
    margin:10px 20px;
    border:2px solid rgb(0, 0, 0) ;
    box-shadow:2px 2px rgba(97, 97, 97, 0.438);
}
.logo{
    font-weight: 600;
    text-decoration: underline;
    font-size: 21px;
    margin-left:10px;
    background-color: rgb(70, 97, 255);
    border-radius: 6px;
    padding:5px;
    color: rgb(238, 255, 0);
}
.logpage{
    margin: auto;
}
.searchtab{
    margin: auto;
}